.part1{
    display: inline-flexbox;
    height: 600px;
    width: 700;
    padding-top: 10%;
    padding-right: 13.55%;
    padding-left: 13.55%;
    font-size: 2rem;
    font-weight: bolder;
    color: #212529;
    font-family: "Helvetica Neue",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.imagenlog{
    width: auto;
    height: auto;
}

.porb{
    border: solid 1px #e9ecef;
    display: flex;
    display: inline-flex;
    animation: ease-in-out;
    animation-name: slidein;
    animation-duration: 3s;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    color: #212529;
    font-family: "Helvetica Neue",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: left;
}

input{
    border-radius: 10px;
    border-color: darkgray;
    width: 521px;
    opacity: 50%;
    margin-bottom: 10px;
    align-self: center;
    display: flex;
}
::placeholder{
    font-size: 20px;
    line-height: 20px;
    border: 0px solid tomato ;
    vertical-align: middle;
    margin-bottom: 15px;

}

.inicio{
    background-color: #FF671B;
    margin-left: 320px;
    border: solid 0px;
    color: white;
    font-family: "Helvetica Neue",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem !important;
    font-weight: bold;
    border-radius: .75rem;
    padding: .5rem 2.5rem;
}
